<div class="row subheader">
  <div class="col-sm-12">
    <a ui-sref="new_scenario">Basic Info</a>
  </div>
</div>

<section class="row ds-form-wrapper">

  <div class="col-sm-5 form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-12" for="adSourceEdit_description">Description</label>
      <div class="col-sm-12">
        <textarea class="form-control" id="adSourceEdit_description" placeholder="Input text"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="adSourceEdit_url">URL</label>
      <div class="col-sm-11">
        <input type="text" class="form-control" id="adSourceEdit_url">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="adSourceEdit_type">AdSource Type</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="adSourceEdit_type">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="adSourceEdit_floorCPM">Floor CPM</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="adSourceEdit_floorCPM">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="adSourceEdit_reqTimeout">Request Timeout</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="adSourceEdit_reqTimeout">
      </div>
    </div>

  </div>

  <div class="col-sm-4">

    <div class="form-group">
      <label class="control-label" for="">Select Dates</label>
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
                Unlimited
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group" dropdown is-open="status.isopen" ng-init="GMT = 'GMT + 1'">
        <button type="button" class="btn btn-default">{{ GMT }}</button>
        <button type="button" class="btn btn-default" dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem"><a ng-click="GMT = 'GMT +1'">GMT +1</a></li>
          <li role="menuitem"><a ng-click="GMT = 'GMT +2'">GMT +2</a></li>
          <li role="menuitem"><a ng-click="GMT = 'GMT +3'">GMT +3</a></li>
          <li role="menuitem"><a ng-click="GMT = 'GMT +4'">GMT +4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group text-right">
      <div class="btn-group">
          <!-- <label class="btn btn-xs btn-danger" btn-radio="true">Enabled</label>
          <label class="btn btn-xs btn-default" btn-radio="false">Disabled</label> -->
          <label class="btn btn-xs btn-danger">Enabled</label>
          <label class="btn btn-xs btn-default">Disabled</label>
      </div>
    </div>
  </div>

</section>


<div class="row subheader">
  <div class="col-sm-12">
    <a ui-sref="new_scenario">Delivery Policy</a>
  </div>
</div>

<section class="row ds-form-wrapper">

  <div class="col-sm-7 form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="adSourceEdit_request_caps">Ad Request Caps</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="adSourceEdit_request_caps">
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <div class="btn-group" dropdown is-open="status2.isopen" ng-init="request_caps = 'Daily'">
            <button type="button" class="btn btn-default">{{ request_caps }}</button>
            <button type="button" class="btn btn-default" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="menuitem"><a ng-click="request_caps = 'Daily'" ng-mo>Daily</a></li>
              <li role="menuitem"><a ng-click="request_caps = 'Unlimited'">Unlimited</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="adSourceEdit_impression_caps">Impression Caps</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="adSourceEdit_impression_caps">
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <div class="btn-group" dropdown is-open="status3.isopen" ng-init="impression_caps = 'Daily'">
            <button type="button" class="btn btn-default">{{ impression_caps }}</button>
            <button type="button" class="btn btn-default" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="menuitem"><a ng-click="impression_caps = 'Daily'">Daily</a></li>
              <li role="menuitem"><a ng-click="impression_caps = 'Unlimited'">Unlimited</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="adSourceEdit_impression_caps">Frequency Caps</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="adSourceEdit_frequency_caps">
      </div>

      <label class="col-sm-2 control-label">
        Per User
      </label>

      <div class="col-sm-2">
        <div class="form-group">
          <div class="btn-group" dropdown is-open="status4.isopen" ng-init="frequency_caps = 'Daily'">
            <button type="button" class="btn btn-default">{{ frequency_caps }}</button>
            <button type="button" class="btn btn-default" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="frequency_caps = 'Daily'">Daily</a></li>
              <li role="menuitem"><a ng-click="frequency_caps = 'Unlimited'">Unlimited</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<div class="row subheader">
  <div class="col-sm-12">
    <a ui-sref="new_scenario">Targeting</a>
  </div>
</div>

<section class="row ds-form-wrapper">
  <div class="col-sm-12">
    <h4>Filtering</h4>

    <div class="row filtering-wrapper">
        <div class="col-sm-1">
          <!-- plus -->
          <div class="ds_plus">
            +
          </div>
        </div>

        <div class="col-sm-4">
          <!-- Location -->
          <div class="btn-group btn-block" dropdown is-open="status5.isopen" ng-init="location = 'Location'">
            <button type="button" class="btn btn-default col-sm-11">{{ location }}</button>
            <button type="button" class="btn btn-default col-sm-1" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-block" role="menu">
              <li role="menuitem"><a ng-click="location = 'Another'">Another</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-2">
          <!-- is -->
          <div class="form-group">
            <div class="btn-group btn-block" dropdown is-open="status6.isopen" ng-init="is = 'is'">
              <button type="button" class="btn btn-default col-sm-8">{{ is }}</button>
              <button type="button" class="btn btn-default col-sm-2" dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu btn-block" role="menu">
                <li><a ng-click="is = 'is not'">is not</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <!-- beach -->
            <input type="text" class='form-control' name="name" value="">

        </div>

        <div class="col-sm-1">
          <!-- X -->
          <div class="ds_remove">
            <i class="fa fa-remove"></i>
          </div>
        </div>
    </div>
  </div>

  <div class="col-sm-12">
    <h4>Target the day of week\time of the day</h4>

    Place for TimeMatrix
  </div>



</section>
