<div class="row nav-domain_list">
  <div class="col-sm-4">
    <a ui-sref="new_ds">Domain List Management</a>
  </div>

  <div class="col-sm-3 col-sm-offset-5 nav-domain_list-newbtn-container">
    <a ui-sref="new_ds">+ New Domain List</a>
  </div>
</div>

<div class="row quick-filter-row">
  <div class="col-sm-4 col-xs-12">
    <input type="text" class="form-control" placeholder="Quick Filter">
  </div>
</div>

<div class="row ds-table-row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-sm-3">
          Domain List Name
        </th>
        <th class="col-sm-3">
          Description
        </th>
        <th class="col-sm-2">
          Count
        </th>
        <th class="col-sm-4">
          Actions
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Uout Takoy list
        </td>

        <td>
          a lot of text with some sense and good motivation to do good things
        </td>

        <td>
          3,323 Domains
        </td>

        <td>
          <div class="ds-actions-list row">
            <a>
              <i class="fa fa-pencil"></i> Edit
            </a>
            <a>
              <i class="fa fa-print"></i> Archive
            </a>
            <a>
              <i class="fa fa-copy"></i> Duplicate
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
