<div class="row nav-scenario subheader">
  <div class="col-sm-12">
    <a ui-sref="new_scenario">Scenario Info</a>
  </div>
</div>

<section class="row scenario_block">
  <div class="col-sm-12">
    <p>Description</p>

    <p>
      It should not be forgotten that a consultation with a broad asset plays an important role in the formation of the new proposals. The task of the organization, especially as the existing structure of the organization allows you to perform important tasks for the development of the future direction of development. Everyday experience shows that the strengthening and development of the structure largely determines the creation of systems of mass participation.
      Comrades! Consultation with a broad asset is an interesting experiment test model of development.
    </p>
  </div>
</section>


<div class="row nav-scenario subheader">
  <div class="col-sm-12">
    <a ui-sref="new_scenario">Use the following inventory allocation rule</a>
  </div>
</div>

<section class="row scenario_block">
    <div class="col-sm-4">
      <p>Available Ad Sources</p>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <input type="text" class="form-control" placeholder="Filter Ad Sources">
    </div>
</section>

<section class="row scenario_block">
  <div class="col-sm-12">
    <div class="entity-list-wrapper sources-list">

      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>
      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>
      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>
      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>
      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>
      <div class="list-entity">
        <span>AwesomeAdSource</span>
        <i class="fa fa-pause pull-right"></i>
      </div>

    </div>
  </div>
</section>

<section class="row scenario_block">
  <div class="col-sm-12">
    <div class="tiers-list">

      <div class="row tier active">
        <div class="col-sm-10">

          <div class="entity-list-wrapper tier-sources-list">

            <div class="button delete">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x"></i>
              </span>
            </div>

            <div class="drag-and-drop-placeholder">
              <p>Drag ad sources here</p>
            </div>

            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
          </div>

        </div>
        <div class="col-sm-2">
          <div class="form-group has-feedback">
            <label class="control-label">Timeout</label>
            <div class="input-group">
              <input type="text" class="form-control" value="1000">
              <span class="form-control-feedback">(ms)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row tier">
        <div class="col-sm-10">

          <div class="entity-list-wrapper tier-sources-list">

            <div class="button delete">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x"></i>
              </span>
            </div>

            <div class="drag-and-drop-placeholder">
              <p>Drag ad sources here</p>
            </div>

            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
            <div class="list-entity">
              <span>AwesomeAdSource</span>
              <i class="fa fa-pause pull-right"></i>
            </div>
          </div>

        </div>
        <div class="col-sm-2">
          <div class="form-group has-feedback">
            <label class="control-label">Timeout</label>
            <div class="input-group">
              <input type="text" class="form-control" value="1000">
              <span class="form-control-feedback">(ms)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row tier">
        <div class="col-sm-10">

          <div class="entity-list-wrapper tier-sources-list">

            <div class="button delete">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x"></i>
              </span>
            </div>

            <div class="drag-and-drop-placeholder">
              <p>Drag ad sources here</p>
            </div>

          </div>

        </div>
        <div class="col-sm-2">
          <div class="form-group has-feedback">
            <label class="control-label">Timeout</label>
            <div class="input-group">
              <input type="text" class="form-control" value="1000">
              <span class="form-control-feedback">(ms)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="button add">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="row scenario_block">
    <div class="col-sm-12">
      <button class="btn btn-save">Save</button>
      Or
      <a ui-sref="" class="btn btn-cancel">Cancel</a>
    </div>
</section>
