div.nav-domain_list {
  padding-left: 5px;
  font-size: 1.7em;
  min-height: 30px;
}

div.nav-domain_list > div.nav-domain_list-newbtn-container {
  background-color: #f62d2d;
  padding: 0px;
  text-align: center;
}

div.nav-domain_list > div.nav-domain_list-newbtn-container > a {
  color: #fff;
  cursor: pointer;
}

div.nav-domain_list-newbtn-container > a:hover {
  text-decoration: none;
}

div.nav-domain_list > div > a {
  color: #000;
  cursor: pointer;
}

div.nav-domain_list > div > a:hover {
  text-decoration: none;
}
