div.nav-scenario > div.col-sm-3 {
  border-right: 1px solid #aaa;
}

div.nav-scenario > div.nav-scenario-newbtn-container {
  background-color: red;
  padding: 0px;
  text-align: center;
}

div.nav-scenario > div.nav-scenario-newbtn-container > a {
  color: #fff;
  cursor: pointer;
}

div.nav-scenario-newbtn-container > a:hover {
  text-decoration: none;
}

div.nav-scenario > div > a {
  color: #000;
  cursor: pointer;
}

div.nav-scenario > div > a:hover {
  text-decoration: none;
}


div.quick-filter-row {
  padding: 20px 0px;
}
